.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 93px 0 101px;
}

.inner-section--background--grey {
  background: #F4F5F5;
}
.inner-section--reviews {
  padding: 80px 0 94px;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 88px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 46px;
}

.partners__item:nth-child(4n+1) {
  margin-left: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
}

.partners__link:hover {
  filter: grayscale(0)
}